@page "/"

<PageTitle>Home</PageTitle>

<h1>.NET & C# Blazor Web App Hub</h1>

<p>This is an application that is being written in C# and .NET utilising Blazor. This will create a Blazor Web App.</p>

<p>This is .NET watch... It is always watching</p>
